<!DOCTYPE html>

<html lang="en">
  <head>
    <title>gomodest</title>
    {{include "partials/header"}}
  </head>
  <body data-controller="navigate svelte">
  {{include "partials/top_navbar"}}
    <section class="section">
      <div class="container h-full px-5 py-5">
        {{if .userError}}
          <div class="columns is-mobile is-centered is-vcentered">
            <div class="column is-one-quarter-desktop has-text-centered is-narrow">
              <div class="notification is-danger is-light has-text-weight-semibold">
                <p>{{.userError}}!</p>
              </div>
            </div>
          </div>
        {{end}}
        {{template "content" .}}
      </div>
    </section>
    {{include "partials/footer"}}
    <script src="/static/js/bundle.js" async></script>
  </body>
</html>
