<!DOCTYPE html>

<html lang="en">
  <head>
    <title>gomodest</title>
    {{include "partials/header"}}
  </head>
  <body data-controller="navigate svelte">
  {{include "partials/top_navbar"}}
  {{if .pageError}}
  <div class="columns is-mobile is-centered is-vcentered">
    <div class="column is-half-desktop has-text-centered is-narrow">
      <div class="px-5 py-5 has-text-weight-bold title h-full">
        <span class="has-text-warning icon" style="color: hsl(348, 100%, 61%)	">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <br>
        <p>{{.pageErrorStatus}}</p>
        <br>
        <p>{{.pageError}}!</p>
      </div>
    </div>
  </div>

  {{else}}
    <section class="section">
      <div class="container h-full px-5 py-5">
        {{template "content" .}}
      </div>
    </section>
  {{end}}
    {{include "partials/footer"}}
    <script src="/static/js/bundle.js" async></script>
  </body>
</html>
