{{define "content"}}
<div class="columns is-mobile is-centered">
    <div class="column is-one-third-desktop">
        <turbo-frame id="account">
            {{template "errors" .}}
            <h1 class="box has-background-info-light has-text-weight-semibold">Change to a new pasword</h1>
            <br>

            <form
                    data-action="submit->account#submitResetForm"
                    method="POST">
                <div class="field">
                    <label class="label">Password</label>
                    <input data-account-target="password"
                           data-action="blur->account#validatePassword"
                           id="password"
                           name="Password"
                           class="input"
                           type="password"
                           aria-label="Password" required>

                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <input data-account-target="confirmPassword"
                           data-action="blur->account#validatePassword"
                           id="confirm_password"
                           name="ConfirmPassword"
                           class="input"
                           type="password"
                           aria-label="Confirm Password" required>

                </div>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <button class="button is-primary is-fullwidth"
                                type="submit">
                            Reset Password
                        </button>
                    </div>
                </div>
            </form>
        </turbo-frame>
    </div>
</div>
{{end}}