{{define "profile"}}
    <div>
        <h4 class="title is-4">Profile</h4>
        <hr/>
        <form
                data-action="submit->account#submitAccountForm"
                method="POST">
            <input type="hidden" name="FormToken" value="{{.form_token}}">
            {{if .Error}}
            <div class="field has-background-danger has-text-white px-6 py-5">
                {{.Error}}
            </div>
            {{end}}
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input
                            data-account-target="name"
                            data-action="blur->account#validateName"
                            maxlength="30"
                            class="input"
                            name="Name"
                            type="text"
                            placeholder="e.g Alex Smith"
                            value="{{.metadata.name}}">
                </div>
            </div>

            {{if .email}}
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input"
                           data-account-target="email"
                           data-action="blur->account#validateEmail"
                           name="Email"
                           type="email"
                           aria-label="Email"
                           pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                           placeholder="e.g. alexsmith@gmail.com"
                           value="{{.email}}">
                </div>
            </div>
            {{end}}

            <div class="field">
                <p class="control">
                    <button class="button is-link" type="submit">
                        Update
                    </button>
                </p>
            </div>
        </form>
    </div>
    <br/>
    <div class="py-5">
        <h4 class="title is-4">Delete account</h4>
        <hr/>
        <p>All data related to your account will be completely removed and unrecoverable.</p>
        <button class="button is-danger mt-5"
                data-modal-target-id="deleteAccount"
                data-action="click->navigate#openModal">
            Delete your account
        </button>
        <div class="modal"
             id="deleteAccount"
             data-navigate-target="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <form action="/account/delete" method="POST">
                    <input type="hidden" name="FormToken" value="{{.form_token}}">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Are you sure ?</p>
                        <button class="delete"
                                data-modal-target-id="deleteAccount"
                                data-action="click->navigate#closeModal"
                                aria-label="close">
                        </button>
                    </header>
                    <section class="modal-card-body">
                        <p class="has-text-weight-semibold">
                            Deleting your account is permanent and removes all account data forever.
                        </p>
                    </section>
                    <footer class="modal-card-foot is-justify-content-flex-end">
                        <button class="button is-danger" type="submit">Yes</button>
                        <button class="button"
                                data-modal-target-id="deleteAccount"
                                data-action="click->navigate#closeModal">
                            Cancel
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
{{end}}