<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{.app_name}}</title>
    {{include "partials/header"}}
  </head>
  <body data-controller="navigate svelte account"
        data-action="keydown@window->navigate#keyDown "
        data-navigate-active-class="is-active">
  {{include "partials/navbar"}}
      <div class="container h-full px-5">
        <div class="columns is-mobile is-centered is-vcentered">
          <div class="column is-one-third-desktop has-text-centered is-narrow">
            <div class="is-hidden notification is-danger is-light" data-account-target="formError">
              <p>Form validation failed</p>
            </div>
          </div>
        </div>
        {{template "content" .}}
      </div>
    {{include "partials/footer"}}
  </body>
</html>
