{{define "content"}}
    <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop">
            {{ if .change_email }}
                <box class="box has-background-warning"> A verification link has been sent to your inbox for confirming your new email address. Please verify to complete the request. </box>
            {{end}}

            {{ if .email_changed }}
                <box class="box has-background-success"> Your email was updated! </box>
            {{end}}

            <div class="card px-5 py-5">
                <h4 class="title is-4">Profile</h4>
                <hr/>
                <form data-controller="account"
                      data-action="submit->account#submitForm"
                      method="POST">
                    {{if .Error}}
                        <div class="field has-background-danger has-text-white px-6 py-5">
                            {{.Error}}
                        </div>
                    {{end}}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input
                                    maxlength="30"
                                    class="input"
                                    name="name"
                                    type="text"
                                    placeholder="e.g Alex Smith"
                                    value="{{.metadata.name}}">
                        </div>
                    </div>

                {{if .email}}
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input"
                                   data-target="account.email"
                                   data-action="blur->account#validateEmail"
                                   name="email"
                                   type="email"
                                   aria-label="Email"
                                   pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                   placeholder="e.g. alexsmith@gmail.com"
                                   value="{{.email}}">
                        </div>
                    </div>
                {{end}}
                    <div class="field">
                        <p class="control">
                            <button class="button is-link" type="submit">
                                Update
                            </button>
                        </p>
                    </div>

                </form>
            </div>
            <br/>
            <div class="card px-5 py-5">
                <h4 class="title is-4">Delete account</h4>
                <hr/>
                <p>All data related to your account will be completely removed and unrecoverable.</p>
                <button class="button is-danger mt-5"
                        data-modal-target-id="deleteAccount"
                        data-action="click->navigate#openModal">
                    Delete your account
                </button>
                <div class="modal"
                     id="deleteAccount"
                     data-target="navigate.modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <form action="/account/delete" method="POST">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Are you sure ?</p>
                                <button class="delete"
                                        data-modal-target-id="deleteAccount"
                                        data-action="click->navigate#closeModal"
                                        aria-label="close">
                                </button>
                            </header>
                            <section class="modal-card-body">
                                <p class="has-text-weight-semibold">
                                    Deleting your account is permanent and removes all account data forever.
                                </p>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-danger" type="submit">Yes</button>
                                <button class="button"
                                        data-modal-target-id="deleteAccount"
                                        data-action="click->navigate#closeModal">
                                    Cancel
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{end}}