{{define "content"}}
<div class="columns is-mobile is-centered">
    <div class="column is-half-desktop">
        <turbo-frame id="app">
            {{template "error" .}}
            <form  method="POST" action="/app/tasks/new">
                <div class="field columns">
                    <div class="control column is-10-desktop is-10-mobile">
                        <input class="input"
                               name="Text"
                               type="text"
                               placeholder="A new todo">
                    </div>
                    <div class="control column is-2-desktop is-2-mobile">
                        <button type="submit" class="button is-primary">
                            <span class="icon">
                              <i class="fas fa-plus"></i>
                            </span>
                            <span>New</span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mt-5 is-hoverable">
                {{ range .tasks }}
                    <!-- the three states of the li item: view, edit, delete are toggled using stimulus attrs -->
                    <li id="view-{{.ID}}" class="box">
                        <div class="is-flex" style="align-items: center">
                            <span class="is-pulled-left">{{.Text}}</span>
                            <div style="flex: 1"></div>
                            <div class="is-pulled-right">
                                <button class="button is-text  is-small"
                                        data-toggle-ids="view-{{.ID}},edit-{{.ID}}"
                                        data-toggle-class="is-hidden"
                                        data-action="click->navigate#toggle">
                                    <span class="icon">
                                          <i class="fas fa-edit"></i>
                                    </span>
                                </button>
                                <a class="button is-text  is-small"
                                   data-toggle-ids="view-{{.ID}},delete-{{.ID}}"
                                   data-toggle-class="is-hidden"
                                   data-action="click->navigate#toggle">
                                    <span class="icon">
                                          <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li id="edit-{{.ID}}" class="box is-hidden">
                        <form  method="POST" action="/app/tasks/{{.ID}}/edit">
                            <div class="field columns is-vcentered" >
                                <div class="control column is-10-desktop is-10-mobile">
                                    <input class="input"
                                           name="Text"
                                           type="text"
                                           value="{{.Text}}">
                                </div>
                                <div class="control column is-2-desktop is-2-mobile">
                                    <button type="submit" class="button is-primary is-small">
                                        <span class="icon">
                                          <i class="fas fa-check"></i>
                                        </span>
                                    </button>
                                    <button type="button"
                                            class="button is-primary is-small"
                                            data-toggle-ids="view-{{.ID}},edit-{{.ID}}"
                                            data-toggle-class="is-hidden"
                                            
                                            data-action="click->navigate#toggle">
                                        <span class="icon">
                                          <i class="fas fa-window-close"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li id="delete-{{.ID}}" class="box is-hidden">
                        <form  method="POST" action="/app/tasks/{{.ID}}/delete">
                            <div class="field columns is-vcentered" >
                                <div class="control column is-10-desktop is-10-mobile">
                                    <p class="message py-2 px-3 is-danger">Are you sure ?</p>
                                </div>
                                <div class="control column is-2-desktop is-2-mobile">
                                    <button type="submit" class="button is-primary is-small">
                                            <span class="icon">
                                              <i class="fas fa-check"></i>
                                            </span>
                                    </button>
                                    <button type="button"
                                            class="button is-primary is-small"
                                            data-toggle-ids="view-{{.ID}},delete-{{.ID}}"
                                            data-toggle-class="is-hidden"
                                            data-action="click->navigate#toggle">
                                            <span class="icon">
                                              <i class="fas fa-window-close"></i>
                                            </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>

                {{ end }}
            </div>
        </turbo-frame>
    </div>
</div>
</div>
{{end}}