{{define "content"}}
<div class="columns is-mobile is-centered">
    <div class="column is-half-desktop">
        <turbo-frame id="app">
            {{ template "new_task" .}}
            <div class="mt-5">
                {{ range .tasks }}
                <li class="box">
                    <div class="is-flex" style="align-items: center">
                        <span class="is-pulled-left">{{.Text}}</span>
                        <div style="flex: 1"></div>
                        <a class="button is-text is-pulled-right is-small"
                           href="/app/tasks/delete/{{.ID}}">
                            <span class="icon">
                                  <i class="fas fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </li>
                {{ end }}
            </div>
        </turbo-frame>
    </div>
</div>
</div>
{{end}}